rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Only authenticated users can access storage buckets
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Doctor or caregiver role can read the attachments for medical consultations
    match /shared_records/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
